@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>New Class</h1>

<form method="post" asp-controller="Class" asp-action="Create">
    
    <p>
        <label>Class</label>
        <input type="text" name="Class">

    </p>

    <button type="submit">Create</button>
</form>