@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1><a asp-controller="Subject" asp-action="List">Subjects</a></h1>

<h3>New Subject</h3>

<form method="post" asp-controller="Subject" asp-action="Create">

    <p>
        <label>Subject</label>
        <input type="text" name="subject">

    </p>

    <button type="submit">Create</button>
</form>