@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Subject>

<h1>Subjects</h1>

<table class="table">
    <thead>
        <tr>
            <th>Subject</th>


        </tr>
    </thead>

    <tbody>
        @foreach (var subject in Model)
        {
            <tr>
                <th><a asp-area="" asp-controller="Teacher" asp-action="List" asp-route-subject="@subject.Name">@subject.Name</a></th>




                <th><button id="deleteButton"><a asp-controller="Subject" asp-action="Delete" asp-route-subject="@Model.FirstOrDefault().Name">Delete</a></button></th>
            </tr>
        }


    </tbody>
</table>

<button><a asp-controller="Subject" asp-action="Create">Create new subject</a></button>

<script>document.getElementById('deleteButton').addEventListener('click', function(event) {
        var confirmDeletion = confirm('Are you sure you want to delete this? All related data will be deleted!!!');
        if (!confirmDeletion) {

            event.preventDefault();
        } else {}
});</script>
